<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All cars</title>
    </head>

    <body>
    <h1>All cars:</h1>
    <table border="3">
        <tr>
            <th style="width: 10%; background-color: lightcyan;">Id</th>
            <th style="width: 31%; background-color: lightcyan;">Model</th>
            <th style="width: 20%; background-color: lightcyan;">Color</th>
            <th style="width: 15%; background-color: lightcyan;">Release Date</th>
            <th style="width: 12%; background-color: lightcyan;">Edit</th>
            <th style="width: 12%; background-color: lightcyan;">Delete</th>
        </tr>

        <tr th:each="car : ${car_list}">
            <td style="text-align: center;" th:utext="${car.getId()}">id</td>
            <td style="text-align: center;" th:utext="${car.getModel()}">Model</td>
            <td style="text-align: center;" th:utext="${car.getColor()}">Color</td>
            <td style="text-align: center;" th:utext="${car.getReleaseDate()}">ReleaseDate</td>

            <td style="text-align: center;"> <em> <a th:href="@{/cars/edit(id_edited_car=${car.getId()})}">Edit</a> </em> </td>
            <td style="text-align: center;"> <em> <a th:href="@{/cars/delete(id_removed_car=${car.getId()})}">Delete</a> </em> </td>
        </tr>
    </table>
    <br/> <br/> <hr/> <br/>

    <form th:method="GET" th:action="@{/cars/create}">
        <input type="submit" value="Create new car"/>
    </form>
    <br/> <br/> <hr/> <br/>

    <H3>Generate test data for a table</H3>
    <form action="#" th:action="@{/cars/generate}" method="POST">
        <label for="carCountLabel">Enter the number of cars generated:</label>
        <input type="number" id="carCountLabel" name="car_count" th:value="5" size="8" maxlength="6" required>
        <button type="submit">Generate</button>
    </form>
    <br/> <br/> <hr/> <br/>

    <form th:method="POST" th:action="@{/cars/delete_all}">
        <input type="submit" value="Delete all cars"/>
    </form>
    <br/> <br/>

    </body>
</html>